@use "../abstracts/vars";
@use "../abstracts/mixin";
@use "../vendors/media-queries";

//imagenes
.logo-img {
  @include mixin.set-img(100%, 15%, relative, 0rem 5rem 0rem 2rem);

  @include media-queries.respond-to(media-queries.$tablet-landscape){
    @include mixin.set-img(100%, 70%, relative, 0rem 5rem 0rem 2rem);
  }

  @include media-queries.respond-to(media-queries.$large-desktop){
    @include mixin.set-img(100%, 50%, relative, 0rem 5rem 2rem 2rem);
  }
}

.logo-img-pw {
  @include mixin.set-img(100%, 30%, relative, 0rem 0rem 5rem 0rem);
  justify-content: center;
}

.logo-img-modal {
  @include mixin.set-img(100%, 30%, relative, 0rem 0rem 3rem 0rem);
}

.img-comidas {
  @include mixin.set-img(100%, 800px, relative, 0rem 0rem 2em 0rem);
  border-radius: 30px;
  box-shadow: 0px 0px 40px black;
}

.centrar-img {
  display: flex;
  justify-content: center;
}

//fin imagenes

//Body
.body-principal {
  background: linear-gradient(to right, rgb(122, 74, 33), rgb(175, 110, 53), rgb(216, 141, 75), rgb(175, 110, 53), rgb(122, 74, 33));
  margin: 0;
  height: 100vh;
  padding: 0;
  margin-bottom: 70px;
}

.body-comidas {
  background: linear-gradient(to right, rgb(122, 74, 33), rgb(199, 128, 66), rgb(116, 66, 23));
  margin: 0;
  height: 100vh;
  padding: 0;
  margin-bottom: 70px;
}

//fin body

//P configs
.p-modal {
  @include mixin.set-font(vars.$ff-Stoke,
    vars.$fw-reg,
    vars.$fs-base,
    vars.$clr-white,
    100%);
}

.p-comidas {
  @include mixin.set-font(vars.$ff-Stoke,
    vars.$fw-reg,
    vars.$fs-base-xs,
    vars.$clr-gray,
    100%);
  text-align: justify;
}
//Fin Pconfigs

//texto
.container-text {
  width: 1000px;
  height: 950px;
  background: url("../imgs/madera7.jpg");
  background-size: cover;
  padding: 4rem;
  border-radius: 30px;
  margin: auto;
  margin-bottom: 5rem;
  margin-top: 5rem;
  box-shadow: 0px 0px 60px black;
}

.new-margin {
  @include mixin.margin-item(0rem 0rem 0rem 18rem);
}

.subtitles1 {
  @include mixin.margin-item(1.5rem 0rem 0.6rem 0rem);
}

.subtitles2 {
  @include mixin.margin-item(1rem 0rem 10rem 0rem);
}

.subtitles3 {
  @include mixin.margin-item(0.2rem 0rem 10rem 0rem);
}
//fin texto

//Configs principales
h1 {
  @include mixin.set-font(vars.$ff-Stoke,
    vars.$fw-reg,
    vars.$fs-lg,
    vars.$clr-white,
    100%);
  text-align: center;
  margin: auto;
}

a {
  @include mixin.set-font(vars.$ff-Stoke,
    vars.$fw-reg,
    vars.$fs-base,
    vars.$clr-white,
    100%);
  text-decoration: none;
}

footer {
  margin: auto;
  background-image: url("../imgs/madera7.jpg");
  background-size: cover;
  bottom: 0;
  width: 100%;
  height: 90px;


  @include media-queries.respond-to(media-queries.$tablet-landscape) {
    height: 80px;
  }

  @include media-queries.respond-to(media-queries.$large-desktop) {
    height: 90px;
  }

}

.footer-icons {
  @include mixin.set-img(100%, 3%, relative, 1rem 2rem 1rem 2rem);

  @include media-queries.respond-to(media-queries.$tablet-landscape) {
    @include mixin.set-img(100%, 6%, relative, 1rem 1rem 0rem 1rem);
  }

  @include media-queries.respond-to(media-queries.$large-desktop) {
    @include mixin.set-img(100%, 6.5%, relative, 2rem 1rem 0rem 1rem);
  }
}
// fin configs