//colors
$clr-white: #ffffff;
$clr-gray: #f8f8f8;
$clr-bg-body: rgb(122, 74, 33);
$clr-bg-search: rgb(173, 94, 25);
$clr-border: rgb(92, 44, 2);
$clr-bg-navbar: rgb(143, 68, 3);
$clr-green: #009311;

//font-sizes
$fs-base-xs: 1.1rem;
$fs-base: 1rem; //22px
$fs-xss: 1.5rem;
$fs-xs: 2rem;
$fs-btn: 1.25rem; //20px
$fs-med: 3.125rem; //50px
$fs-big: 3.25rem; //52px
$fs-lg: 4.188rem; //67px

//font-families
//serif, sans serif, script, display
$ff-Stoke: "Stoke";
$ff-Sansserif: "Sans-serif";

//font-weights
$fw-reg: 300;
$fw-med: 400;
$fw-bold: 700;
